html {
    background-image: linear-gradient(to bottom right, #9999ff, #ccccff);
    height: 100%;
    background-size: cover;
}

#recipe-wrapper {
    margin: auto;
    border-style: solid;
    border-radius: 50px 30px 15px 15px;
    border-color: #FFFFFF;
    border-width: 2px;
    padding: 30px;
    background-color: #1da1f2;
    width: 55%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    overflow: auto;
    position: relative;
    
}
#foodPic {
    height: 225px;
    width: 375px;
    float: left;
    margin: 20px;
}

#serving-and-prep{
    position: absolute;
    bottom: 30px;
    left: 10%;
}
#ingredients-wrapper {
    margin: 20px;
    float: right;
    overflow: auto;
}

#ingredients-list {
    text-align: left;
}
#tweet {
    margin: auto;
    border-style: solid;
    border-radius: 15px 15px 30px 50px;
    border-width: 2px;
    border-color: #FFFFFF;
    padding: 20px;
    background-color: #1da1f2;
    width: 55%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    overflow: auto;
}
