<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='project1styles.css') }} />
    </head>

    <body>
        <div id="food">
            <h1>{{ food }}</foodId></h1>
        </div>
        <div id="recipe">
            <h1>{{ recipe }}</h1>
            <img src = {{ foodImg }} >
        </div>
        <div id="tweet">
            <div id="tweet-text">
                <h2>{{ tweet }}</h2>
            </div>
            <div id="author">
                <h3>Posted by {{ author}} at {{ date }} </h3>
            </div>
        </div>
    </body>
</html>