<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='project1styles.css') }} />
    </head>

    <body>
     
        <div id="recipe-wrapper">
            
            <h1 id="recipe-title">Cheesecake</h1>
            
            <img id='foodPic' src = {{ foodImg }}/>
            
            <div id="ingredients-wrapper">
                
                <h2>Ingredients</h2>
                
                <p id="ingredients-list">
                    <ol>
                    {%for i in range(0, len)%}
                        <li>{{ ingredients[i] }} </li>
                    {%endfor%}
                    </ol>
                </p>
                
            </div>
            
        </div>
        
        
        <div id="tweet">
            <h2 id="tweet-text">{{ tweet }}</h2>
            <h3 id="author">Posted by {{ author}} at {{ date }} </h3>
            <h5 id="query">Tweet found by searching: {{ food }} </h5>
        </div>
        
    </body>
</html>